body {
  margin:  30px;
}

.some-text {
    padding: 10px;
    border: 1px solid grey;
    font-size: initial;
}

.some-input , .another-input{
    margin-top: 50px;
    padding: 5px;
}

.btn {
    margin-top : 20px;
}